.CarouselPageItem {
  position: relative;
  margin: 0px auto 20px auto;
  width: 740px;
}
.CarouselArrows {
  position: absolute;
  top: calc(50% - 30px);
  width: 740px;
}
.LeftArrow {
  border-bottom: 30px solid transparent;
  border-right: 30px solid #ee0060;
  border-top: 30px solid transparent;
  cursor: pointer;
  height: 0px;
  left: 10px;
  position: absolute;
  width: 0px;
}
.LeftArrow:hover {
  border-right: 30px solid #05b1d1;
}
.RightArrow {
  border-bottom: 30px solid transparent;
  border-left: 30px solid #ee0060;
  border-top: 30px solid transparent;
  cursor: pointer;
  height: 0px;
  position: absolute;
  right: 10px;
  width: 0px;
}
.RightArrow:hover {
  border-left: 30px solid #05b1d1;
}
.Carousel {
  background: none;
  border-radius: 2px;
  height: 350px;
  margin: 0px auto 20px auto;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0px;
  white-space: nowrap;
  width: 740px;
}
.CarouselItem {
  background: white;
  display: inline-block;
  height: 350px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  width: 280px;
}
.CarouselItem:hover {
  cursor: pointer;
}
.CarouselItem:last-child {
  margin-right: 0px;
}
.CarouselItemImage {
  height: 100%;
  width: 100%;
}
.CarouselItemText {
  color: black;
  font-size: 12pt;
  position: absolute;
  width: 100%;
}
.PageButton {
  background: #ee0060;
  border-radius: 2px;
  margin: 0px auto 20px auto;
  padding: 20px;
  text-align: center;
  width: 700px;
}
.PageButton:hover {
  background: #05b1d1;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .LeftArrow {
    display: none;
  }
  .RightArrow {
    display: none;
  }
  .Carousel {
    border-radius: 0px;
    box-shadow: none;
    margin: 0px 0px 5px 0px;
    min-width: 0px;
    width: auto;
    overflow-x: auto;
  }
  .CarouselPageItem {
    border-radius: 0px;
    margin-right: 5px;
    margin: 0px 0px 5px 0px;
    min-width: 0px;
    width: auto;
  }
  .CarouselItem {
    border-radius: 0px;
    margin-right: 5px;
  }
  .PageButton {
    box-shadow: none;
    margin: 0px 0px 5px 0px;
    min-width: 0px;
    width: auto;
  }
}
