.NavMenuItem, .NavMenuItemActive {
  color: #05b1d1;
  font-size: 14pt;
  margin: auto;
  text-decoration: none;
}
.NavMenuItem:hover, .NavMenuItemActive:hover {
  color: white;
}
.NavMenuItemActive {
  color: white;
}
