/**
 * App Colors
 */
$zblue: #05b1d1;
$zred: #ee0060;
$zgrey: #757088;
$zdarkblue: #026a7e;

.Grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-gap: 1px;
  grid-auto-rows: minmax(calc(707px / 16), auto);
}

.PixelEmpty {
  background-color: transparent;
  height: calc(707px / 16);
}

.PixelBackground {
  background-color: #ff0392;
  height: calc(707px / 16);
}

.PixelClothes {
  background-color: #3beff5;
  height: calc(707px / 16);
}

.PixelSkin {
  background-color: #f7e4bc;
  height: calc(707px / 16);
}

.CarouselPageItem {
  position: relative;
  margin: 0px auto 20px auto;
  width: 740px;  
}

.CarouselArrows {
  position: absolute;
  top: calc(50% - 30px);
  width: 740px;
}

.LeftArrow {
  border-bottom: 30px solid transparent;
  border-right: 30px solid $zred;
  border-top: 30px solid transparent;
  cursor: pointer;
  height: 0px;
  left: 10px;
  position: absolute;
  width: 0px;

  &:hover {
    border-right: 30px solid $zblue;
  }  
}

.RightArrow {
  border-bottom: 30px solid transparent;
  border-left: 30px solid $zred;
  border-top: 30px solid transparent;
  cursor: pointer;
  height: 0px;
  position: absolute;
  right: 10px;
  width: 0px;

  &:hover {
    border-left: 30px solid $zblue;
  }  
}

.Page {
  display: block;
  padding: 52px 0px 20px 0px;
  width: auto;
}

.PageItem {
  background: #2c2c2c;
  border-radius: 2px;
  margin: 0px auto 20px auto;
  padding: 20px;
  width: 700px;
}

.PageButton {
  @extend .PageItem;
  background: $zred;
  text-align: center;

  &:hover {
    background: $zblue;
    cursor: pointer;
  }
}

.PageText {
  color: white;
  text-decoration: none;
}

.PageLargeText {
  @extend .PageText;
  font-size: 16pt;
  margin-bottom: 0px;
}

.PageSmallText {
  @extend .PageText;
  font-size: 12pt;
}

.PageFadedText {
  @extend .PageText;
  color: $zgrey;
  font-size: 12pt;
}

.PageTitleText {
  @extend .PageLargeText;
  margin-bottom: 4px;
}

.PageLink {
  @extend .PageText;
  color: $zblue;

  &:hover {
    color: white;
  }
}

.PageLargeLink {
  @extend .PageLargeText;

  &:hover {
    color: $zblue;
  }
}

.Carousel {
  @extend .PageItem;
  background: none;
  height: 350px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0px;
  white-space: nowrap;
  width: 740px;
}

.CarouselItem {
  background: white;
  display: inline-block;
  height: 350px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  width: 280px;

  &:hover {
    cursor: pointer;
    //-webkit-filter: blur(2px); /* Safari */
    //filter: blur(2px);
  }

  &:last-child {
    margin-right: 0px;
  }
}

.CarouselItemImage {
  height: 100%;
  width: 100%;
}

.CarouselItemText {
  color: black;
  font-size: 12pt;
  position: absolute;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .Page {
    padding: 57px 0px 0px 0px;
  }

  .PageItem {
    border-radius: 0px;
    box-shadow: none;
    margin: 0px 0px 5px 0px ;
    min-width: 0px;
    width: auto;
  }

  .Carousel {
    border-radius: 0px;
    box-shadow: none;
    margin: 0px 0px 5px 0px ;
    min-width: 0px;
    width: auto;
  }

  .CarouselItem {
    border-radius: 0px;
    margin-right: 5px;
  }

  .PageButton {
    box-shadow: none;
    margin: 0px 0px 5px 0px;
    min-width: 0px;
    width: auto;
  }
}
