/**
 * App Colors
 */
$zblue: #05b1d1;
$zred: #ee0060;
$zgrey: #757088;
$zdarkblue: #026a7e;

.Page {
  display: block;
  padding: 52px 0px 20px 0px;
  width: auto;
}

.PageItem {
  background: #2c2c2c;
  border-radius: 2px;
  margin: 0px auto 20px auto;
  padding: 20px;
  width: 700px;
}

.PageButton {
  @extend .PageItem;
  background: $zred;
  text-align: center;

  &:hover {
    background: $zblue;
    cursor: pointer;
  }
}

.PageText {
  color: white;
  text-decoration: none;
}

.PageLargeText {
  @extend .PageText;
  font-size: 16pt;
  margin-bottom: 0px;
}

.PageSmallText {
  @extend .PageText;
  font-size: 12pt;
}

.PageFadedText {
  @extend .PageText;
  color: $zgrey;
  font-size: 12pt;
}

.PageTitleText {
  @extend .PageLargeText;
  margin-bottom: 4px;
}

.PageLink {
  @extend .PageText;
  color: $zblue;

  &:hover {
    color: white;
  }
}

.PageLargeLink {
  @extend .PageLargeText;

  &:hover {
    color: $zblue;
  }
}

.Carousel {
  @extend .PageItem;

  background: none;
  height: 350px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0px;
  white-space: nowrap;
  width: 740px;
}

.CarouselItem {
  background: white;
  display: inline-block;
  height: 350px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0px;
  }
}

@media screen and (max-width: 1000px) {
  .Page {
    padding: 57px 0px 0px 0px;
  }

  .PageItem {
    border-radius: 0px;
    box-shadow: none;
    margin: 0px 0px 5px 0px ;
    min-width: 0px;
    width: auto;
  }

  .Carousel {
    border-radius: 0px;
    box-shadow: none;
    margin: 0px 0px 5px 0px ;
    min-width: 0px;
    width: auto;
  }

  .CarouselItem {
    border-radius: 0px;
    margin-right: 5px;
  }

  .PageButton {
    box-shadow: none;
    margin: 0px 0px 5px 0px;
    min-width: 0px;
    width: auto;
  }
}
